#grid-cointeiner-index {
  display: grid;
  grid-template-areas: "header"
 "nav"
 "main"
 "footer"; }

header {
  grid-area: header; }

nav {
  grid-area: nav; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

body {
  background-color: white; }

.logo img {
  display: inline-block;
  position: relative;
  top: 0;
  left: 50%;
  width: 15%;
  transform: translate(-50%, 0%); }

.menu__logo img {
  max-width: 50px;
  display: none; }

ul.menu {
  list-style: none;
  font-size: 0;
  padding: 0; }
  ul.menu li.menu__item {
    display: inline-block;
    position: relative; }
    ul.menu li.menu__item a {
      font-size: 16px;
      text-align: center;
      display: block;
      color: white;
      background-color: cadetblue;
      padding: 10px;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Geneva, sans-serif; }
    ul.menu li.menu__item a:hover {
      background-color: darkcyan; }

.col-m {
  width: 20%; }

.imagenprincipal img {
  display: inline-block;
  position: relative;
  left: 50%;
  width: 50%;
  transform: translate(-50%, 0%);
  padding: 10px; }

.info-principal-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 30px 30px; }
  .info-principal-flex p {
    font-size: 24px;
    border: solid 3px darkcyan;
    padding: 20px;
    text-align: center;
    font-family: Verdana, sans-serif;
    margin: 30px; }

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom, cadetblue, cadetblue, lightgrey);
  font-family: Verdana, sans-serif; }

.redes-footer, .mail-footer {
  display: flex;
  width: 200px;
  align-items: center; }

.mail-footer {
  justify-content: end; }

.imagen-footer img {
  max-height: 40px;
  padding: 5px; }

.copy {
  display: inline-block;
  position: relative;
  font-family: Verdana, sans-serif;
  text-align: center;
  width: 200px;
  color: white; }

.mail {
  display: inline-block;
  width: 500px;
  font-family: Verdana, sans-serif;
  text-align: right;
  color: white; }
  .mail img {
    width: 10%; }
  .mail p {
    display: inline-block; }

@media screen and (max-width: 768px) {
  .imagenprincipal img {
    max-width: 650px; }
  .info-principal-flex p {
    font-size: 16px;
    border: solid 1px darkcyan;
    padding: 20px;
    text-align: center;
    font-family: Verdana, sans-serif;
    margin: 0px; }
  .footer-flex {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center; }
  .redes-footer, .mail-footer {
    display: flex;
    width: 200px;
    justify-content: center; }
  .mail-footer {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center; }
  .col-s-1 {
    width: 8.33%; }
  .col-s-2 {
    width: 16.66%; }
  .col-s-3 {
    width: 25%; }
  .col-s-4 {
    width: 33.33%; }
  .col-s-5 {
    width: 41.66%; }
  .col-s-6 {
    width: 50%; }
  .col-s-7 {
    width: 58.33%; }
  .col-s-8 {
    width: 66.66%; }
  .col-s-9 {
    width: 75%; }
  .col-s-10 {
    width: 83.33%; }
  .col-s-11 {
    width: 91.66%; }
  .col-s-12 {
    width: 100%; }
  .grid-form-s {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 10px; }
  .grid-productos-s {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; }
  .nuestros-productos img {
    display: inline-block;
    position: relative;
    left: 50%;
    width: 40%;
    transform: translate(-50%, 0%);
    border-radius: 15px;
    padding: 10px; }
  .bolsones-img {
    left: 70%;
    width: 50%;
    transform: translate(-50%, 0%); } }
