$_cadeteblue:cadetblue;
$_darkcyan: darkcyan;
$_lightgrey:lightgrey;
$_white: white;
$_black: black;

$primary-color: $_cadeteblue;
$primary-darker-color: $_darkcyan;

$background-color: $_white;
$background-darker-color: $_lightgrey;

$text-color: $_black;
$text-inverted-color: $_white;

$border-color: $_lightgrey;
